In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('property.csv')

In [3]:
print(df.head())

       Suburb           Address  Rooms Type      Price Method SellerG  \
0  Abbotsford      85 Turner St      2    h  1480000.0      S  Biggin
1  Abbotsford   25 Bloomburg St      2    h  1035000.0      S  Biggin
2  Abbotsford      5 Charles St      3    h  1465000.0     SP  Biggin
3  Abbotsford  40 Federation La      3    h   850000.0     PI  Biggin
4  Abbotsford       55a Park St      4    h  1600000.0     VB  Nelson

        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  BuildingArea  \
0  3/12/2016       2.5    3067.0  ...       1.0  1.0     202.0           NaN
1  4/02/2016       2.5    3067.0  ...       1.0  0.0     156.0          79.0
2  4/03/2017       2.5    3067.0  ...       2.0  0.0     134.0         150.0
3  4/03/2017       2.5    3067.0  ...       2.0  1.0      94.0           NaN
4  4/06/2016       2.5    3067.0  ...       1.0  2.0     120.0         142.0

   YearBuilt  CouncilArea Lattitude  Longtitude             Regionname  \
0        NaN        Yarra  -37.7996    144.9984  Northern Metropolitan
1     1900.0        Yarra  -37.8079    144.9934  Northern Metropolitan
2     1900.0        Yarra  -37.8093    144.9944  Northern Metropolitan
3        NaN        Yarra  -37.7969    144.9969  Northern Metropolitan
4     2014.0        Yarra  -37.8072    144.9941  Northern Metropolitan

  Propertycount
0        4019.0
1        4019.0
2        4019.0
3        4019.0
4        4019.0

[5 rows x 21 columns]

In [4]:
print(df.tail())

              Suburb        Address  Rooms Type      Price Method   SellerG  \
13575  Wheelers Hill   12 Strada Cr      4    h  1245000.0      S     Barry
13576   Williamstown  77 Merrett Dr      3    h  1031000.0     SP  Williams
13577   Williamstown    83 Power St      3    h  1170000.0      S     Raine
13578   Williamstown   96 Verdon St      4    h  2500000.0     PI   Sweeney
13579     Yarraville     6 Agnes St      4    h  1285000.0     SP   Village

             Date  Distance  Postcode  ...  Bathroom  Car  Landsize  \
13575  26/08/2017      16.7    3150.0  ...       2.0  2.0     652.0
13576  26/08/2017       6.8    3016.0  ...       2.0  2.0     333.0
13577  26/08/2017       6.8    3016.0  ...       2.0  4.0     436.0
13578  26/08/2017       6.8    3016.0  ...       1.0  5.0     866.0
13579  26/08/2017       6.3    3013.0  ...       1.0  1.0     362.0

       BuildingArea  YearBuilt  CouncilArea Lattitude  Longtitude  \
13575           NaN     1981.0          NaN -37.90562   145.16761
13576         133.0     1995.0          NaN -37.85927   144.87904
13577           NaN     1997.0          NaN -37.85274   144.88738
13578         157.0     1920.0          NaN -37.85908   144.89299
13579         112.0     1920.0          NaN -37.81188   144.88449

                       Regionname Propertycount
13575  South-Eastern Metropolitan        7392.0
13576        Western Metropolitan        6380.0
13577        Western Metropolitan        6380.0
13578        Western Metropolitan        6380.0
13579        Western Metropolitan        6543.0

[5 rows x 21 columns]

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  float64
 10  Bedroom2       13580 non-null  float64
 11  Bathroom       13580 non-null  float64
 12  Car            13518 non-null  float64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   7130 non-null   float64
 15  YearBuilt      8205 non-null   float64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 2.2+ MB
None

In [6]:
import scipy.stats as stats  # Make sure this import is included

# Filter the data for properties in Altona
altona_data = df[df['Suburb'] == 'Altona']

# Assume the typical property price is $800,000
hypothesized_mean = 800000

# Perform a one-sample t-test
t_stat, p_value = stats.ttest_1samp(altona_data['Price'].dropna(), hypothesized_mean)

# Output the t-statistic and p-value
print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")

# Interpretation
if p_value <= 0.05:
    print("Property price is significantly different from $800,000.")
else:
    print("Property price is same as $800,000.")

T-statistic: 1.0277020770199676
P-value: 0.307483271305555
Property price is same as $800,000.

In [7]:
# Ensure the 'Date' column is in datetime format and handle errors
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

# Check if there are any NaT (Not a Time) values after conversion
if df['Date'].isna().sum() > 0:
    print(f"Warning: There are {df['Date'].isna().sum()} missing or invalid dates.")

# Filter data for properties sold in 2016
df_2016 = df[df['Date'].dt.year == 2016]

# Extract month from the 'Date' column
df_2016['Month'] = df_2016['Date'].dt.month

# Classify months into Winter (October - March) and Summer (April - September)
df_2016['Season'] = df_2016['Month'].apply(lambda x: 'Winter' if x in [10, 11, 12, 1, 2, 3] else 'Summer')

# Separate the prices for Winter and Summer months
winter_prices = df_2016[df_2016['Season'] == 'Winter']['Price'].dropna()
summer_prices = df_2016[df_2016['Season'] == 'Summer']['Price'].dropna()

# Perform a two-sample t-test to compare the means of Winter and Summer prices
t_stat, p_value = stats.ttest_ind(winter_prices, summer_prices)

# Output the t-statistic and p-value
print(f"T-statistic: {t_stat}")
print(f"P-value: {p_value}")

# Interpretation
if p_value <= 0.05:
    print("Reject the null hypothesis. There is a significant difference in property prices between summer and winter months in 2016.")
else:
    print("Fail to reject the null hypothesis. There is no significant difference in property prices between summer and winter months in 2016.")

Warning: There are 8442 missing or invalid dates.
T-statistic: 4.608647592396178
P-value: 4.259096710154727e-06
Reject the null hypothesis. There is a significant difference in property prices between summer and winter months in 2016.

C:\Users\hp\AppData\Local\Temp\ipykernel_11708\2954441060.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2016['Month'] = df_2016['Date'].dt.month
C:\Users\hp\AppData\Local\Temp\ipykernel_11708\2954441060.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2016['Season'] = df_2016['Month'].apply(lambda x: 'Winter' if x in [10, 11, 12, 1, 2, 3] else 'Summer')

In [8]:
# Filter data for properties in Abbotsford
abbotsford_data = df[df['Suburb'] == 'Abbotsford']

# Calculate the probability of a property not having car parking (Car == 0 or NaN)
# First, consider the properties where Car is either 0 or NaN (no parking)
no_car_parking = abbotsford_data['Car'].isna() | (abbotsford_data['Car'] == 0)

# Calculate the proportion of properties with no car parking
p_no_car_parking = no_car_parking.mean()

# Number of trials (properties sold) and number of "successes" (properties without car parking)
n = 10  # Number of properties
k = 3   # Number of properties without car parking

# Use binomial distribution formula to calculate the probability
binomial_prob = stats.binom.pmf(k, n, p_no_car_parking)

# Output the probability rounded to 3 decimal places
print(f"Probability that exactly 3 out of 10 properties sold in Abbotsford will not have car parking: {binomial_prob:.3f}")

Probability that exactly 3 out of 10 properties sold in Abbotsford will not have car parking: 0.260

In [9]:
# Calculate the proportion of properties with exactly 3 rooms
p_three_rooms = (abbotsford_data['Rooms'] == 3).mean()

# Output the probability rounded to 3 decimal places
print(f"Probability of finding a property with 3 rooms in Abbotsford: {p_three_rooms:.3f}")

Probability of finding a property with 3 rooms in Abbotsford: 0.357

In [10]:
# Calculate the proportion of properties with exactly 2 bathrooms
p_two_bathrooms = (abbotsford_data['Bathroom'] == 2).mean()

# Output the probability rounded to 3 decimal places
print(f"Probability of finding a property with 2 bathrooms in Abbotsford: {p_two_bathrooms:.3f}")

Probability of finding a property with 2 bathrooms in Abbotsford: 0.339